<section class="toolbox">
  <form class="toolbox__search-container">
    <fieldset>
      <input
        type="text"
        placeholder="Search for courses"
        [(ngModel)]="query"
        name="searchTerm"
      />
      <button
        type="button"
        class="btn btn-primary btn-sm toolbox__search-btn"
        (click)="onSearchClick()"
      >
        Search
      </button>
    </fieldset>
  </form>

  <button
    type="button"
    class="btn btn-primary btn-sm toolbox__new-course-btn"
    [routerLink]="['new']"
  >
    Add Course
  </button>
</section>
