<div class="card list-item">
  <section class="list-item__info">
    <span class="list-item__title">
      <h4 class="card-title">Awesome title</h4>
      <span class="list-item__datetime">
        <h5>28 min</h5>
        <h5>05.03.2018</h5>
      </span>
    </span>

    <p class="card-text">An awesome description comes to here</p>
  </section>

  <section class="list-item__actions">
    <button type="button" class="btn btn-outline-info btn-sm">Edit</button>
    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
  </section>
</div>