<section class="course-page container">
  <h3>{{editName}}</h3>
  <div class="dropdown-divider"></div>
  <form class="course-form" [formGroup]="courseForm" (ngSubmit)="onSaveClick()">
    <div class="form-group">
      <label for="title">Title</label>
      <div
        *ngIf="(submitted || courseForm.controls.title.touched) && courseForm.controls.title.errors"
        class="invalid-feedback course-form--error"
      >
        <div *ngIf="courseForm.controls.title.errors.required">Title is required</div>
        <div *ngIf="courseForm.controls.title.errors.maxlength">Title should not exceed 50 chars</div>
      </div>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': (submitted || courseForm.controls.title.touched) && courseForm.controls.title.errors }"
        id="title"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <div
        *ngIf="(submitted || courseForm.controls.description.touched) && courseForm.controls.description.errors"
        class="invalid-feedback course-form--error"
      >
        <div *ngIf="courseForm.controls.description.errors.required">Description is required</div>
        <div *ngIf="courseForm.controls.description.errors.maxlength">Description should not exceed 500 chars</div>
      </div>
      <textarea
        class="form-control"
        [ngClass]="{ 'is-invalid': (submitted || courseForm.controls.description.touched) && courseForm.controls.description.errors }"
        rows="5"
        id="description"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <div
        *ngIf="(submitted || courseForm.controls.creation.touched) && courseForm.controls.creation.errors"
        class="invalid-feedback course-form--error"
      >
        <div *ngIf="courseForm.controls.creation.errors.required">Creation is required</div>
        <div *ngIf="courseForm.controls.creation.errors.pattern">Creation should be have a format: MM-dd-yyyy</div>
      </div>
      <app-date-field
        id="date"
        formControlName="creation"
        [ngClass]="{ 'is-invalid': (submitted || courseForm.controls.creation.touched) && courseForm.controls.creation.errors }"
      ></app-date-field>
    </div>
    <div class="form-group">
      <label for="duration">Duration</label>
      <div
        *ngIf="(submitted || courseForm.controls.duration.touched) && courseForm.controls.duration.errors"
        class="invalid-feedback course-form--error"
      >
        <div *ngIf="courseForm.controls.duration.errors.required">Duration is required</div>
        <div *ngIf="courseForm.controls.duration.errors.min">Duration should be a number</div>
      </div>
      <app-duration-field
        id="duration"
        formControlName="duration"
        [ngClass]="{ 'is-invalid': (submitted || courseForm.controls.duration.touched) && courseForm.controls.duration.errors }"
      ></app-duration-field>
    </div>
    <div class="form-group">
      <label for="authors">Authors</label>
      <app-authors-field
        id="authors"
        [(ngModel)]="authors"
        [ngModelOptions]="{standalone: true}"
      ></app-authors-field>
    </div>

    <section class="course-form--actions">
      <button
        class="btn btn-primary"
        [ngClass]="{ 'disabled': submitted && courseForm.invalid }"
      >
        Save
      </button>
      <button (click)="onCancelClick()" class="btn btn-outline-primary">Cancel</button>
    </section>
  </form>

</section>
