<section class="list">
  <app-toolbox
    (search)="onSearchCourse($event)"
  ></app-toolbox>

  <app-course-list-item
    *ngFor="let course of (filteredCourses | orderBy)"
    [course]="course"
    (deleteCourse)="onDeleteCourse($event)"
  ></app-course-list-item>
  <section
    class="list__empty"
    *ngIf="filteredCourses.length === 0"
  >
    NO DATA FELL FREE TO ADD NEW COURSE
  </section>
  <section
    class="list__load-more"
    *ngIf="filteredCourses.length !== 0"
  >
    <button
      type="button"
      class="btn btn-outline-primary btn-l list__btn-load-more"
      (click)="onLoadMoreClick()"
      *ngIf="!endList"
    >
      Load More Courses
    </button>
    <p
      *ngIf="endList"
    >
      You reach the end of the list!
    </p>
  </section>
</section>
