.list {
  padding: 10px;
}

.list__empty {
  padding: 10px;
  text-align: center;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.list__load-more {
  text-align: center;
}
