<div
  [appCourseFreshness]='course?.creation'
  [ngClass]="{'list-item--top-rated': course?.topRated }"
  class="card list-item"
>
  <section class="list-item__info">
    <span class="list-item__title">
      <h4 class="card-title">
        {{course?.title | uppercase}}
        <fa-icon *ngIf='course?.topRated' [icon]="faStar"></fa-icon>
      </h4>
      <span class="list-item__datetime">
        <h5>{{course?.duration | duration}}</h5>
        <h5>{{course?.creation | date: 'MM.dd.yyyy' }}</h5>
      </span>
    </span>

    <p class="card-text">{{course?.description}}</p>
  </section>

  <section class="list-item__actions">
    <button type="button" class="btn btn-outline-info btn-sm">Edit</button>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      (click)="onDeleteClick(course?.id)"
    >
      Delete
    </button>
  </section>
</div>
